@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

body {
	background-color: hsla(256, 35%, 65%, 1);
}

.col {
	background-color: hsl(0, 0%, 100%);
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: hsl(0, 0%, 20%);
}

#item-chart {
	height: 650px;
	width: 770px;
}

#main-item-chart {
	width: 1170px;
	height: 800px;
	margin-bottom: 20px;
}

#champion-dropdown {
	width: 1000px;
}

#champion-dropdown li {
	width: 100px;
}

#region-dropdown {
	display: inline;
	width: 10%;
}

.push-down {
	height: 20px;
}

#patch-radio {
	display: inline;
	margin-left: 50px;
}

#item-dropdown {
	display: inline;
	margin-left: 20px;
	width: 25%;
}

.stats-row {
	margin-top: 15px;
}

#champion-name {
	text-align: center;
	margin-top: 0px;
	color: hsl(0, 0%, 87%);
	background-color: hsl(0, 0%, 7%);
}

#champion-image {
	width: 100%
}

.fa-chevron-up {
	margin-right: 5px;
	color: #2ecc71;
}

.fa-chevron-down {
	margin-right: 5px;
	color: #e74c3c;
}

.item-icon {
	width: 50px;
	height: 50px;
}

table tr th {
	text-align: center;
}

table tr td {
	text-align: center;
}